<div id="sdbar_style" class="flex-shrink-0 p-3" style="width: 280px;">
  <div class="d-flex justify-content-center mt-5">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 text-decoration-none">
      <!--<img src="{{baseHref}}assets/image/logo_school.jpg" height="120" width="120" alt="">-->
      <img src="/image/logo_school.jpg" height="120" width="120" alt="">
    </a>
  </div>
  <ul class="list-unstyled ps-0">
    @for (item of menuItems; track $index) {
    <li class="mb-1">
      @if (item.isSubMenu==false) {
        <a [routerLink]="item.url" class="rounded w-100 link" routerLinkActive="active">{{item.titulo}}</a>
      }
      @if (item.isSubMenu==true) {
        <button class="btn w-100 btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
          [attr.data-bs-target]="'#menu-'+item.idItem" aria-expanded="false">
          {{item.titulo}}
        </button>

        <div class="collapse" routerLinkActive="show" id="menu-{{item.idItem}}">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            @for (menuItems of item.subMenu; track $index) {
            <li>
              <a [routerLink]="menuItems.url" routerLinkActive="active" class="rounded">{{ menuItems.titulo }}</a>
            </li>
          }
          </ul>
        </div>
    }
    </li>
  }

  </ul>
</div>
