<header class="p-3 bg-white">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <!-- <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li> -->
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <div id="nameUserHeader" class="row"><i class="bi bi-person-circle col-auto"></i><span class="col"><div>Esteban Aliaga Geldres</div><small>ADMINISTRADOR</small></span></div>
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-salir"><i class="bi bi-door-closed me-2"></i>Salir</button>
        </div>
      </div>
    </div>
  </header>